<!DOCTYPE html>
<html>
	<head>
		<title>LegalStat, analyze court's jurisprudence</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about us">About Us</a></li>
        		<li><a href="/services">Services</a></li>
        		<li><a href="/blog">Blog</a></li>
            <li><a href="/contact">Contact</a></li>
    		</ul>
		</nav>
		<div class="container">
    		{{ content }}
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="https://github.com/ramoejagesar/ramoe.github.io</a></li>
			</ul>
		</footer>
	</body>
</html>
